@font-face {font-family:'Open Sans';font-style:normal;font-weight:400;
src:url('../fonts/open-sans-v16-latin-regular.eot');
src: local('OpenSans Regular'),local('OpenSans-Regular'),
url('../fonts/open-sans-v16-latin-regular.ttf') format('truetype');}
@font-face {font-family:'Open Sans';font-style:normal;font-weight:600;
src:url('../fonts/open-sans-v16-latin-600.eot');
src:local('OpenSans SemiBold'),local('OpenSans-SemiBold'),
url('../fonts/OpenSans-SemiBold.ttf') format('truetype');}
@font-face {font-family:'Open Sans';font-style:normal;font-weight:700;
src:url('../fonts/open-sans-v16-latin-600.eot');
src:local('OpenSans Bold'),local('OpenSans-Bold'),
url('../fonts/OpenSans-Bold.ttf') format('truetype');}
@font-face {font-family:'Oswald';font-style:normal;font-weight:300;
src: url('../fonts/oswald-v17-latin-300.eot');
src: local('Oswald Light'), local('Oswald-Light'),
url('../fonts/Oswald-Light.ttf') format('truetype');}
@font-face {font-family:'Oswald';font-style:normal;font-weight:500;
src: url('../fonts/oswald-v17-latin-500.eot');
src: local('Oswald Regular'), local('Oswald-Regular'),
url('../fonts/Oswald-Regular.ttf') format('truetype');}


* {margin:0;padding:0;border:0;outline:0;}
html, body {height:100%;-webkit-text-size-adjust:none;}
body {font-family:'Open Sans',sans-serif;font-size:10px;font-weight:400;line-height:160%;margin:0;}
main {margin-top:129px;}
hr {border:solid #ddd 1px;height:1px;margin:30px 0;}
#flex-container {display:-webkit-flex;display:-ms-flex;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
#test {opacity:0;transition:opacity 0.6s ease-in;}
#test.load {opacity:1;}


/* Headlines */
h1,h2,h3,h4,h5,h6,h7 {font-family:'Oswald',sans-serif;margin:0;padding:0;border:0;font-weight:300;}
h1 {font-size:460%;line-height:135%;color:#555;}
h2 {font-size:460%;line-height:135%;color:#555;}
h3 {font-size:380%;line-height:135%;color:#555;}
h4 {font-size:300%;line-height:180%;color:#555;}
h5 {font-size:260%;line-height:135%;color:#555;}
h6 {font-size:300%;line-height:145%;color:#555;}


/* Typografie */
p {font-size:190%;line-height:190%;}
.c {text-align:center;}
.l {text-align:left;}
.r {text-align:right;}
.j {text-align:justify;}
.black {color:#000;}
.white {color:#fff;}
.red {color:#e2001a;}
.shy {hyphens:auto;}
.tel {font-size:210%;font-weight:700;line-height:27px;}
.big {font-size:240%;font-weight:600;}
.small {font-size:160%;line-height:170%;}


/* Links */
a:link {color:#000;text-decoration:none;}a:visited {color:#000;text-decoration:none;}a:hover{color:#e2001a;transition:all 0.6s ease;text-decoration:none;}a:active{color:#000;text-decoration:none;}
a.l1:link {font-family:'Oswald',sans-serif;font-weight:500;font-size:200%;line-height:40px;color:#fff;text-decoration:none;}a.l1:visited {color:#fff;text-decoration:none;}a.l1:hover{transition:all 0.6s ease;opacity:0.6;color:#fff;text-decoration:none;}a.l1:active{color:#fff;text-decoration:none;}
a.l2:link {color:#e2001a;text-decoration:none;}a.l2:visited {color:#e2001a;text-decoration:none;}a.l2:hover{color:#e2001a;transition:all 0.6s ease;opacity:0.6;text-decoration:none;}a.l2:active{color:#e2001a;text-decoration:none;}
a.l3:link {color:#fff;text-decoration:none;}a.l3:visited {color:#fff;text-decoration:none;}a.l3:hover{color:#e2001a;transition:all 0.6s ease;text-decoration:none;}a.l3:active{color:#fff;text-decoration:none;}


/* Header */
nav {width:100%;background:#e2001a;}
.header-navigation {position:fixed;top:0;width:100%;max-width:2000px;padding:0;background-color:#fff;z-index:900000;transition:top 0.5s;box-shadow:0 2px 6px rgba(0,0,0,.25), 0 2px 6px rgba(0,0,0,.25);}
.slideUp {-webkit-transform: translateY(-85px);transform:translateY(-85px);transition:transform .5s ease-out;}
.slideDown {-webkit-transform:translateY(0);transform:translateY(0);transition:transform .5s ease-out;}
.cheader {max-width:1200px;margin:0 auto;padding:15px;}
.logo {position:relative;float:left;width:360px;height:54px;}
.logo:hover {transition:all 0.6s ease;opacity:0.75;}
.telefon {width:300px;height:27px;float:right;}


/* Slideshow */
.sscontainer {position:relative;bottom:0;left:0;right:0;height:760px;width:100%;max-width:2000px;}
.sscontainer2 {position:relative;bottom:0;left:0;right:0;height:500px;width:100%;max-width:2000px;}
.sstitle {font-family:'Oswald',sans-serif;font-size:520%;font-weight:500;line-height:135%;color:#fff;webkit-text-shadow:0 0 12px rgba(0, 0, 0, 0.9);text-shadow:0 0 12px rgba(0, 0, 0, 0.9);}
.headline {position:absolute;z-index:90;width:100%;bottom:65px;}
.headline2 {position:absolute;z-index:90;width:100%;bottom:220px;}
[data-am-gallery] {position:relative;width:100%;height:100%;background-color:#fff;}
[data-am-gallery] input[type="radio"] {position:fixed;top:-9999px;}
[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .images .image:nth-child(3) {opacity:1;}
[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3) {background-color:#e2001a;}
[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3):hover {opacity:1;}
[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .images .image:nth-child(2) {opacity:1;}
[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2) {background-color:#e2001a;}
[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2):hover {opacity:1;}
[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .images .image:nth-child(1) {opacity:1;}
[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1) {background-color:#e2001a;}
[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1):hover {opacity:1;}
[data-am-gallery] .image {position: absolute;top:0;bottom:0;left:0;right:0;opacity:0;-webkit-transition:opacity 800ms ease;transition:opacity 800ms ease;background-size:cover;background-position:center;background-repeat:no-repeat;}
[data-am-gallery] .navigation {position:absolute;bottom:-45px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
[data-am-gallery] .dot {display:inline-block;width:15px;height:15px;margin:0 2px;border-radius:50%;background-color:rgba(221, 221, 221, 0.8);cursor:pointer;-webkit-transition:opacity 200ms ease;transition:opacity 200ms ease;}
[data-am-gallery] .dot:hover {opacity:0.8;}


/* Listen */
ul.list {list-style:url(../img/autovermietung.png);margin-left:22px;font-size:190%;line-height:190%;}
ul.list2 {list-style:decimal;font-size:190%;line-height:190%;margin:0 0 0 20px;text-align:justify;}


/* Content */
#flex-container {display:-webkit-flex;display:-ms-flex;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
#produkt1      {order:1;}
#produkt1_info {order:4;}
#produkt2      {order:2;}
#produkt2_info {order:5;}
#produkt3      {order:3;}
#produkt3_info {order:6;}
.flex {display:flex;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;}
.left {float:left;}
.right {float:right;}
.clearfloat {clear:both;height:0;font-size:1px;line-height:0px;}
.img {width:100%;}
.thumb {overflow:hidden;background-color:#fff;justify-content:center;align-items:center;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.thumb img {object-fit:cover;object-position:50%;width:100%;min-height:100%;transition:transform .5s ease;}
.thumb:hover img {transform:scale(1.1);opacity:0.7;}
.content {max-width:2000px;width:94%;margin:0 auto;background:#fff;-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);}
.buchung {max-width:1000px;margin:0 auto;background-color:#eee;padding:30px 40px 30px 40px;}
.ccontent {max-width:1000px;margin:0 auto;}
.ccontent2 {max-width:1000px;margin:0 auto;padding:0 30px 30px 30px;}
.ccontent3 {max-width:1400px;margin:0 auto;padding:30px;}
.ccontent4 {max-width:800px;margin:0 auto;padding:30px;}
.marg {margin:6px;}
.pad1 {padding:60px 30px;}
.pad2 {padding:60px 60px;}
.pad3 {padding:10px 40px;}
.abs {width:100%;height:400px;}
.abs2 {width:100%;height:200px;}
.fsection {padding:80px 30px;}


/* Footer */
.footertext {font-size:175%;line-height:200%;}


/* Formular */
label {color:#000;font-size:160%;line-height:220%;}
.formtext {width:90%;display:block;padding:0 8px;color:#000;background:#fff;font-size:160%;line-height:200%;border-style:solid;border-width:1px;border-color:#ccc;}
.formtext2 {width:90%;display:block;padding:0 8px;color:#e2001a;background:#fff;font-size:160%;line-height:200%;border-style:solid;border-width:1px;border-color:#ccc;}
.formtext3 {width:90%;display:block;padding:0 8px;color:#000;background:#eee;font-size:160%;line-height:200%;border-style:solid;border-width:1px;border-color:#ccc;}
.button {font-family:'Oswald',sans-serif;text-align:center;font-size:180%;font-weight:500;width:140px;color:#fff;background-color:#e2001a;padding:10px 0;margin:30px auto;border-width:2px;border-style:solid;border-color:#e2001a;border-radius:4px;}
.pad {padding:10px 0;}
.pad4 {padding:5px 0;}
.button:hover {color:#e2001a;background-color:#fff;border-style:solid;border-color:#e2001a;transition:all 0.6s ease;}



/*  Grid  */
.section {clear:both;padding:0;margin:0;}
.col {display:block;float:left;margin:0;}
.col2 {display:block;float:left;margin:0;}
.group:before, .group:after {content:"";display:table;}
.group:after {clear:both;}.group {}
.span_1_of_1 {position:relative;width:100%;}
.span_2_of_2 {width:100%;}.span_1_of_2 {width:50%;}
.span_3_of_3 {width:100%;}.span_2_of_3 {width:66.66%;}.span_1_of_3 {width:33.33%;}
.span_4_of_4 {width:25%;}.span_3_of_4 {width:75%;}.span_2_of_4 {width:50%;}.span_1_of_4 {width:25%;}
.span_5_of_5 {width:20%;}.span_4_of_5 {width:80%;}.span_3_of_5 {width:60%;}.span_2_of_5 {width:40%;}.span_1_of_5 {width:20%;}


@media only screen and (max-width: 820px) {
h1 {font-size:380%;line-height:130%;}
h2 {font-size:380%;line-height:130%;}
h3 {font-size:340%;line-height:135%;}
h4 {font-size:260%;}
h6 {font-size:260%;}
p {font-size:170%;}
ul.list {font-size:170%;}
a.l1:link {font-size:160%;}
#produkt1      {order:1;}
#produkt1_info {order:2;}
#produkt2      {order:3;}
#produkt2_info {order:4;}
#produkt3      {order:5;}
#produkt3_info {order:6;}
.pad {padding:10px 0!important;}
.logo {float:none;margin:2px auto -10px auto;}
.telefon {display:none;}
.footertext {font-size:155%;line-height:170%;}
.sscontainer {height:600px;}
.sscontainer2 {height:350px;}
.ccontent {padding:15px;}
.fsection {padding:40px 30px;}
.headline2 {bottom:170px;}
.sstitle {font-size:360%;}
.pad1 {padding:40px 30px;}
.formtext {width:100%;}
.formtext2 {width:100%;}
.formtext3 {width:100%;}
.col {margin:0;padding:0;spacing:0;}
.span_2_of_2 {width:100%;} .span_1_of_2 {width:100%;}
.span_3_of_3 {width:100%;} .span_2_of_3 {width:100%;} .span_1_of_3 {width:100%;}
.span_4_of_4 {width:100%;} .span_3_of_4 {width:100%;} .span_2_of_4 {width:100%;} .span_1_of_4 {width:100%;}
.span_5_of_5 {width:100%;} .span_4_of_5 {width:100%;} .span_3_of_5 {width:100%;} .span_2_of_5 {width:100%;} .span_1_of_5 {width:100%;}
.thumb:hover {transition:all 0.6s ease;transform:scale(1.0,1.0);opacity:0.7;}.wrfw3 {padding:80px 0;}}